# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

setuptools~=63.2.0
pandas~=1.4.3
pyomo~=6.4.1
numpy~=1.23.1
matplotlib~=3.5.2
plotly~=5.9.0
networkx~=2.8.5
googlemaps~=4.6.0
scipy~=1.8.1